{% extends "stock/base.html" %}

{% block title %}
  Product bundle list
{% endblock title %}

{% block sub_heading %}
  Product bundle list
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-open pure-menu-horizontal">
        <ul>
          <li>
            <a href="{% url 'stock.bundle.create' %}">
              <i class="fa fa-cubes"></i>
              Add bundle
            </a>
          </li>
          <li>
            <a href="{% url 'stock.product.list' %}">
              <i class="fa fa-barcode"></i>
              Products
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="l-box">
        <table class="pure-table pure-table-bordered">
          <thead>
            <tr>
              <th>Name</th>
              <th>Bundle</th>
              <th>Price</th>
            </tr>
          </thead>
          <tbody>
            {% for o in object_list %}
              <tr valign="top">
                <td>
                  {% if o.legacy or o.product.legacy %}
                    <del>
                  {% endif %}
                  <a href="{% url 'stock.bundle.detail' o.pk %}">
                    {{ o.name }}
                  </a>
                  {% if o.legacy or o.product.legacy %}
                    </del>
                    <br />
                    <small>
                      {% if o.legacy %}
                        (This is a legacy bundle)
                      {% else %}
                        (This bundle is for a legacy product)
                      {% endif %}
                    </small>
                  {% endif %}
                  <br />
                  <small>
                    Bundle for
                    <strong>
                    {{ o.product.name }}
                    </strong>
                  </small>
                  {% if o.description %}
                    <br />
                    {{ o.description|linebreaksbr }}
                  {% endif %}
                </td>
                <td>
                  {% for p in o.bundle.all %}
                    <small>
                      {{ forloop.counter }})
                      {% if p.legacy %}<strike>{% endif %}
                      {{ p }}
                      {% if p.legacy %}</strike>{% endif %}
                    </small>
                    <br />
                  {% endfor %}
                </td>
                <td>
                  {{ o.price }}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock content %}
