{% extends "stock/base.html" %}
{% load staticfiles %}

{% block sub_title %}
  Example app
{% endblock sub_title %}

{% block sub_heading %}
  Example app
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g-r">
    <div class="pure-u-1">
      <div class="l-box">
        <div class="pure-menu pure-menu-open pure-menu-horizontal">
          <ul>
            <li>
              <a href="{% url 'stock.product.list' %}">
                <i class="fa fa-barcode"></i>
                Product list
              </a>
            </li>
            <li>
              <a href="{% url 'stock.bundle.list' %}">
                <i class="fa fa-cubes"></i>
                Bundle list
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
